server:
  port: 8099
logging:
  level:
    ru.stas: INFO
    com.uber: INFO
    org.springframework: ERROR
    ROOT: ERROR

app:
  settings:
    sample.enabled: true
    taskCount: 1
  cadence:
    domain: rsa_main_domain
    host: localhost
    port: 7933
    pooler:
      activity:
        pollThreadCount: 50
      workflow:
        pollThreadCount: 50
        sticky:
          pollThreadCount: 50

management:
  endpoint:
    metrics.enabled: true
    prometheus.enabled: true
  endpoints:
    web.exposure.include: '*'
  metrics.export.prometheus.enabled: true

#spring:
#  zipkin:
#    service:
#      name: hello-zipkin-wf


